button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;
  border-radius: 50%;
  color: white;
  font-size: inherit;
  height: 2.5rem;
}

#decrement-btn {
  background-color: red;
}

#increment-btn {
  background-color: green;
}

div {
  font-size: 2rem;
}
